body {
    margin: 0;
    padding: 0;
  }
  body * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .catalog-btn {
    width: 230px;
    height: 45spx;
    font-size: small;
    background-color: lightgray;
}

#published {
    background-color: green;
    color: white;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: column;

  }
  .wd-flex-grow-1 {
    flex-grow: 1;
  }

#calendar {
    color: red;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.header {
    float: top;

}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

button {
    float: right;
    background-color: lightgray;
}

.wd-flex-col-container {
    display: flex;
    flex-direction: column;
  }
  .wd-flex-grow-1 {
    flex-grow: 1;
  }
  
  
#btns {
    padding: 5px; border-radius: 8%;
}

#btnss {
    border: 1px solid lightgray; padding: 5px; border-radius: 8%;
    background-color: lightgray;
}

#red-btn {
    border: 1px solid lightgray; padding: 5px; border-radius: 8%;
    background-color: red;
    outline-color: red;
    color: white;
}

#div-padding {
    padding: 10px;
}

#course-status {
    width: 250px; align-items: center;
}

#course-status-title {
    padding-top: 20px;
}