.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100vh;
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
    align-items: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
    position: relative;
    align-self: center;
  }
  .wd-kanbas-navigation i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
    align-self: center;
    position: relative;
  }
  
  #img-nav {
    padding: 0px; 
    display: contents;
  }

  img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }