.catalog-btn {
    width: 230px;
    height: 45spx;
    font-size: small;
    background-color: lightgray;
}

#published {
    background-color: green;
    color: white;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: column;

  }
  .wd-flex-grow-1 {
    flex-grow: 1;
  }

#calendar {
    color: red;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}
  